<nav class="sidebar" [class.retracted]="isSidebarRetracted">
  <div class="sidebar-header">
    <a routerLink="/" class="sidebar-brand">
      <img src="assets/images/logo.png" alt="logo">
    </a>
    <div class="sidebar-toggler" (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="user-info" *ngIf="showUsername">
    <p>Bienvenido,</p>
    <p><span class="username">{{ name }}</span></p>
  </div>

  <div class="sidebar-body">
    <ul class="sidebar-nav">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [routerLink]="item.link">
          <i class="link-icon" [attr.data-feather]="item.icon"></i>
          <span class="link-title" *ngIf="!isSidebarRetracted">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
