<div class="main-content">
  <div class="main-block">
    <div class="main-title">
      <h1>Control de Usuarios</h1>
    </div>
  </div>
  <div class="content">
    <div class="profile-image">
      <div class="info-section">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-usuario-estilo-plano-ilustracion-vector-avatar-miembro-sobre-fondo-aislado-concepto-negocio-signo-permiso-humano_157943-15752.jpg?w=360" alt="">
        <p class="text-user">Usuario</p>
        <p class="number-user"> Nº Colegiatura: 1234567</p>
        <p class="verified-status">    Verificado    </p>
      </div>
      <div class="buttons-section">
        <button class="verified-button">Aplicar verificación</button>
        <button class="unverified-button">Quitar verificación</button>
      </div>
    </div>
    <div class="profile-info">
      <div class="about-section">
        <p class="about-section-title">Sobre mí</p>
        <p class="about-section-text">Experto en Psicología positiva, infantil y en terapias familiares.</p>
      </div>
      <div class="about-section">
        <p class="about-section-title">Información de contacto</p>
        <p class="about-section-text">Correo electrónico</p>
        <p class="about-section-text">Teléfono</p>
        <p class="about-section-text">Teléfono de oficina</p>
        <p class="about-section-text">Dirección de oficina</p>
      </div>

    </div>
  </div>

</div>
