<div class="main-content">
  <div class="title-section">
    <h2>Gestión de Contenido</h2>
  </div>
  <div class="form-section">
    <div class="input-section">
      <label>Nombre del Contenido</label>
      <input type="text" placeholder="Trastorno">
    </div>
    <div class="input-section">
      <label>Descripción</label>
      <textarea></textarea>
    </div>
    <div class="input-section">
      <label>Causas</label>
      <textarea></textarea>
    </div>
    <div class="input-section">
      <label>Síntomas</label>
      <textarea></textarea>
    </div>
  </div>
  <div class="info-section">
    <div class="date-section">
      <p>Fecha de última modificación: 12/Mar/2022</p>
      <p>Publicado por: Usuario</p>
    </div>
  </div>
  <div class="button-section">
    <button class="confirm-button">Guardar</button>
  </div>
</div>
