.navbar-content {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.navbar-content .search-form {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  margin-left: 25px;

  @media (max-width: 992px) {
    flex: 1 1 100%;
  }
}

.navbar-explore{
    font-size:1rem;
}

.navbar-content .search-form .input-group {
  position: relative;
  border-radius: 20px;
  background-color: #F0F0F0;
  overflow: hidden;
  padding: 5px;


  input::placeholder {
    color: #676767;
  }
}

.navbar-content .search-form .form-control {
  border: none;
  height: 80%;
  background-color: transparent;
  padding: 2px 20px;
}

.navbar-content .search-form .input-group .input-group-text {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #F0F0F0;
}

.navbar-content .search-form .input-group .input-group-text i {
  color: #000000;
}

.navbar .navbar-content .navbar-nav {
  margin-right: 20px;
  margin-left: auto;
}

.navbar-content {
  a {
    margin-left: 20px;
  }

  @media (max-width: 992px) {
    width: 100%;
  }

  @media (max-width: 700px) {
    display: flex;
    margin-right:auto;
  }
}

.navbar {
    @media (max-width: 991px) {
        width:100%;
    }
}
.navbar-content {
  @media (max-width: 992px) {
    flex-wrap: nowrap;
    width: 90%;
  }

  @media (max-width: 700px) {
    width: 75%;
    margin-top: 0px;
    justify-content: space-between;
  }

  @media (max-width:300px) {
    width: 50%;
    margin-top: 0px;
    justify-content: space-between;
  }
}

.nav-profile {
  position: relative;
}

.nav-profile .arrow-down {
  position: absolute;
  top: calc(50% - 4px);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #3A6FF8;
  border-radius: 2px;
  margin-left: 8px;
}

a{
    color:#000000;
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    border-radius: 10px;
}
