<div class="content">
  <div class="main-block">
    <div class="main-title">
      <h1>Perfil</h1>
    </div>
  </div>

  <div class="edit-profile">
    <div class="options">
      <ul class="list-options">
        <li><a [routerLink]="'/admin/profile/update-email'">Modificar correo electrónico</a></li>
        <li><a [routerLink]="'/admin/profile/update-password'">Cambiar contraseña</a></li>
        <li><a [routerLink]="'/admin/profile/update-credentials'">Modificar credenciales</a></li>
        <li><a [routerLink]="'/admin/profile/update-username'">Cambiar nombre de usuario</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
