<div class="signup-content">
  <div class="form-content">
    <div class="title-section">
      <h2>Registrarse</h2>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <div class="input-section">
          <input type="text" placeholder="Nombre(s)" formControlName="firstName" required>
          <div *ngIf="signUpForm.get('firstName')?.invalid && (signUpForm.get('firstName')?.dirty || signUpForm.get('firstName')?.touched)">
            <div class="error-message" *ngIf="signUpForm.get('firstName')?.errors?.['required']">Debe introducir su nombre.</div>
          </div>
        </div>
        <div class="input-section">
          <input type="text" placeholder="Apellido(s)" formControlName="lastName" required>
          <div *ngIf="signUpForm.get('lastName')?.invalid && (signUpForm.get('lastName')?.dirty || signUpForm.get('lastName')?.touched)">
            <div class="error-message" *ngIf="signUpForm.get('lastName')?.errors?.['required']">Debe introducir su apellido.</div>
          </div>
        </div>
        <div class="input-section">
          <input type="email" placeholder="Correo electrónico" formControlName="email" required>
          <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
            <div class="error-message" *ngIf="signUpForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
            <div class="error-message" *ngIf="signUpForm.get('email')?.errors?.['email']">El correo electrónico no es válido.</div>
          </div>
        </div>
        <div class="input-section">
          <input type="password" placeholder="Contraseña" formControlName="password" required>
          <div *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
            <div class="error-message" *ngIf="signUpForm.get('password')?.errors?.['required']">Debe introducir su contraseña.</div>
          </div>
        </div>
        <div class="input-section">
          <input type="password" name="repeatPassword" placeholder="Repita su contraseña" formControlName="confirmPassword" required>
          <div *ngIf="signUpForm.get('confirmPassword')?.invalid && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)">
            <div class="error-message" *ngIf="signUpForm.get('confirmPassword')?.errors?.['passwordsNotMatch']">Las contraseñas no coinciden.</div>
          </div>
        </div>
        <div class="input-section-checkbox" >
          <input type="checkbox" name="check" [(ngModel)]="isPsychologist" [ngModelOptions]="{standalone: true}">
          <label>Deseo registrarme como psicólogo</label>
        </div>
        <div class="button-section">
          <button type="submit">Confirmar</button>
        </div>
      </div>
      <div class="link-section">
        <div class="link-item">
          <p>¿Ya tienes una cuenta?</p>
          <a href="auth">Inicia sesión</a>
        </div>
      </div>
    </form>
  </div>
  <div class="footer-content">
    <app-footer-auth></app-footer-auth>
  </div>

</div>
