<div class="login-content">
  <div class="form-content">
    <div class="title-section">
      <h2>Olvidé mi contraseña</h2>
      <p>Por favor, ingrese el correo electrónico que usó para registrarse en el sistema</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <div class="input-section">
          <input type="email" placeholder="Correo electrónico" formControlName="email" required>
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <div class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
            <div class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">El correo electrónico no es válido.</div>
          </div>
        </div>
        <div class="button-section">
          <button type="submit">Confirmar</button>
        </div>
      </div>
      <div class="link-section">
        <div class="link-item">
          <a href="/auth/login">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
  <div class="footer-content">
    <app-footer-auth></app-footer-auth>
  </div>

</div>
