<div class="update-email">
  <h3 class="section-title">Modificar credenciales</h3>
  <p class="instructions">Por favor, ingrese los campos solicitados:</p>

  <label>Número de colegiatura</label>
  <input type="number" [(ngModel)]="psychologistData.numeroColegiatura" placeholder="Número de colegiatura">

  <label>Teléfono</label>
  <div class="phone-number">
    <input class="sufijo" type="number" placeholder="XXXXXXX" [(ngModel)]="psychologistData.telefonOficina">
  </div>

  <label>Dirección de oficina</label>
  <div class="phone-number">
    <label>Estado</label>
    <select (change)="onStateChange($event)">
      <option value="" disabled selected>Selecciona un estado</option>
      <option *ngFor="let state of states" [value]="state.id">{{state.nombre}}</option>
    </select>

    <label>Ciudad</label>
    <select [(ngModel)]="psychologistData.ciudadId">
      <option value="" disabled selected>Selecciona una ciudad</option>
      <option *ngFor="let city of cities" [value]="city.id">{{city.nombre}}</option>
    </select>
  </div>

  <label>Descripción sobre ti</label>
  <textarea class="large-input" placeholder="Descripción sobre ti" [(ngModel)]="psychologistData.descripcionPsicologo"></textarea>

  <label>Formación:</label>
  <textarea class="large-input" placeholder="Formación" [(ngModel)]="psychologistData.formacion"></textarea>

  <label>Experiencia laboral</label>
  <textarea class="large-input" placeholder="Experiencia laboral" [(ngModel)]="psychologistData.experiencia"></textarea>

  <label>Tipos de terapias</label>
  <textarea class="large-input" placeholder="Tipos de terapias" [(ngModel)]="psychologistData.tipoTerapia"></textarea>

  <button class="confirm-button" (click)="updatePsychologist()">Continuar</button>
</div>
