<div class="update-email">
  <h3 class="section-title">Modificar credenciales</h3>
  <p class="instructions">Por favor, ingrese los campos solicitados: </p>

  <label>Número de colegiatura</label>
  <input type="number" placeholder="Número de colegiatura">

  <label>Teléfono</label>
  <div class="phone-number">
    <select class="prefix">
      <option>0412</option>
      <option>0414</option>
      <option>0424</option>
      <option>0416</option>
      <option>0426</option>
    </select>
    <input class="sufijo" type="number" placeholder="XXXXXXX">
  </div>

  <label>Teléfono</label>
  <div class="phone-number">
    <input class="prefix" type="number" placeholder="XXXXXXX">
    <input class="sufijo" type="number" placeholder="XXXXXXX">
  </div>

  <label>Dirección de oficina</label>
  <div class="phone-number">
    <input class="state" type="text" placeholder="Estado">
    <input class="city" type="text" placeholder="Ciudad">
  </div>

  <label>Descripción sobre ti</label>
  <textarea class="large-input" placeholder="Descripción sobre ti"></textarea>

  <label>Formación:</label>
  <textarea class="large-input" placeholder="Formación"></textarea>

  <label>Experiencia laboral</label>
  <textarea class="large-input" placeholder="Experiencia laboral"></textarea>

  <label>Tipos de terapias</label>
  <textarea class="large-input" placeholder="Tipos de terapias"></textarea>

  <button class="confirm-button">Continuar</button>
</div>
