.main-content{
  padding: 20px;
}

.main-block {
  text-align: center;
  margin-bottom: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../../../assets/images/cover-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
  }

  .block-title {
    font-size: 1.5rem;
    color: #FFFFFF;
  }
}
