// Variables
$primary-color: #2E3C4D;
$secondary-color: #6c757d;
$bg-color: #ffffff;
$font-family: "Inter", sans-serif;

body {
  font-family: $font-family;
  color: $primary-color;
  background-color: $bg-color;
}

.side-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("src/assets/images/auth-page/main-image.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 85%;

    .text-content {
      a {
        color: $bg-color;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .side-content {
    .main-side {
      padding: 1rem;

      .text-content {
        a {
          font-size: 1.2rem;
        }
      }
    }

    .footer-content {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 480px) {
  .side-content {
    .main-side {
      padding: 0.5rem;

      .text-content {
        a {
          font-size: 1rem;
        }
      }
    }

    .footer-content {
      padding: 0.25rem;
    }
  }
}
