<div class="content">
  <div class="main-block">
    <div class="main-title">
      <h1>Bienvenido a la UCV</h1>
    </div>
  </div>

  <div class="edit-profile">
    <div class="profile">
      <div class="image-profile">
        <img src="" alt="">
        <button class="edit-photo">Editar</button>
      </div>
    </div>
    <div class="options">
      <ul class="list-options">
        <li>Modificar correo electrónico</li>
        <li>Cambiar contraseña</li>
        <li>Modificar credenciales</li>
        <li>Cambiar nombre de usuario</li>
      </ul>
    </div>
  </div>
</div>

