<div class="user-table">
  <div class="main-block">
    <div class="main-title">
      <h1>Control de Usuarios</h1>
    </div>
    <button class="button-new" (click)="createUser()">Nuevo Usuario</button>
  </div>
  <div class="search-block">
    <div class="search-bar">
      <input type="text" placeholder="Buscar" [(ngModel)]="searchTerm" (input)="filterUsers()">
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.nombre }} {{ user.apellido }}</td>
        <td *ngIf="user.role=='admin'">Administrador</td>
        <td *ngIf="user.role=='psicologo'">Psicólogo</td>
        <td *ngIf="user.role=='usuario'">Usuario</td>
        <td *ngIf="user.role!='admin' && user.role!='psicologo' && user.role!='usuario'"></td>
        <td>
          <button class="button-read" (click)="viewUser(user.id)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
