<div class="user-table">
  <div class="main-block">
    <div class="main-title">
      <h1>Control de Usuarios</h1>
    </div>
  </div>
  <div class="search-block">
    <div class="search-bar">
      <input type="text" placeholder="Buscar">
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nombre }} {{user.apellido}}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="button-read" >Ver</button>
          <button class="button-delete" (click)="deleteUser(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
