<div class="login-content">
  <div class="form-content">
    <div class="title-section">
      <h2>Ingresa a tu cuenta</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <div class="input-section">
          <input type="email" placeholder="Correo electrónico" formControlName="email" required>
          <div
            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <div class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">El correo electrónico
              es
              obligatorio.</div>
            <div class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">El correo electrónico no
              es
              válido.</div>
          </div>
        </div>
        <div class="input-section">
          <input type="password" placeholder="Contraseña" formControlName="password" required>
          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">Debe introducir su
              contraseña.</div>
          </div>
        </div>
        <div class="button-section">
          <button type="submit">Confirmar</button>
        </div>
      </div>
      <div class="link-section">
        <div class="link-item">
          <p>¿No tienes cuenta?</p>
          <a href="auth/signup">Regístrate</a>
        </div>
      </div>
    </form>
  </div>


</div>
